/*
* @Name: todo.css
* @Author: Tinker
* @Time: 2015.7.24
*/

*{
	padding: 0;
	margin: 0;
}
ul li{
	list-style: none;
}
html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.font30px{
	font-size: 30px;
}
.font12px{
	font-size: 12px;
}
.fontbold{
	font-weight: bold;
}
.g-foot{
	height:50px;
	bottom: 0;
}
.clear{
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	overflow:hidden;
	content:'.';
}
.g-head, .g-body, .g-foot{
	position: absolute;
	left: 0;
	width: 100%;
}
.g-head{
	height: 79px;
	border-bottom: 1px solid #a9a9a9;
	background-color: #d3d3d3;
	top:0;
	line-height: 79px;
	color: #a9a9a9;
}
.g-head h1{
	margin-left: 20px;
}
.g-body{
	top:80px;
	bottom: 0px;
	background-color: black;
	min-width: 980px;
}
.g-left, .g-right, .g-middle{
	height: 100%;
}
.g-left, .g-middle{
	position: relative;
}
.g-left{
	width: 250px;
	border-right: 1px solid #a9a9a9;
	float: left;
	background-color: #f5f5f5;
	overflow: hidden;
}
.g-middle{
	width: 250px;
	border-right: 1px solid #a9a9a9;
	float: left;
	background-color: #f5f5f5;
}
.g-right-c{
	width: 100%;
	height: 100%;
	margin-left: -502px; 
	float: right;

}
.g-right{
	margin-left:502px;
	height: 100%;
	background-color: white;
}
.g-l-body span{
	display: inline-block;
	margin: 10px;
	padding: 5px;
}
.g-l-body .m-delete{
	font-size:20px;
	position: absolute;
	right: 0;
	display: none;
	cursor: pointer;
}
.g-l-body .m-all,.g-l-body .m-title{
	display: block;
}
.typelist li{
	padding-left: 40px;
}
.g-l-foot, .g-m-foot{
	height: 40px;
	width: 100%;
 	position: absolute;
 	left: 0;
 	bottom: 0;
 	background-color: #d3d3d3;
 	cursor: pointer;
}
.g-l-foot span, .g-m-foot span{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	float: left;
}
.g-m-head{
	height: 60px;
	background-color: #f5f5f5;
}
.g-m-head span{
	display: inline-block;
	margin-left: 15px;
	margin-top: 15px;
	padding: 0 5px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	border:1px solid #f5f5f5;
}
.g-m-body{
	overflow: hidden;
}
.g-m-body span{
	display: inline-block;
	width: 100%;
}
.m-todotime{
	background-color: #CCCCFF;
	padding:5px;
	padding-left: 20px;
	border-bottom: 1px dashed black;
}
.m-todoname{
	padding:5px;
	padding-left: 40px;
}

.g-r-head,.g-r-body{
	height: 70px;
	line-height: 70px;
	padding-left: 20px;
}
.g-r-head{
	border-bottom: 1px solid #a9a9a9;
	background: #f5f5f5;
	font-size: 24px;
	font-weight: bold;
}
.g-r-head span{
	display: inline-block;
}
.g-r-head span:nth-child(2),.g-r-head span:nth-child(3){
	float: right;
	margin: 0 10px;
	cursor: pointer;
}
.g-r-body{
	background-color: #fffafa;
	border-bottom: 1px solid #a9a9a9;
}
.g-r-foot{
	padding: 20px;
}
.typeclicked{
	background-color: white;
	border-left: 3px solid black;
}
.taskclicked{
	background-color: white;
	border-left: 3px solid black;
}
.g-m-head .tabchecked{
	background-color: white;
	border:1px solid #a9a9a9;
}
.item{
	width: 100%;
	position: relative;
}
.hovered{
	background-color: #f0bbff;
	border-left: 3px solid black;
	color: white;
}

.disnone{
	display: none;
}
.item{
	transition:all 0.2s;
}